<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hello <%= @user.name %></h3>
    <p>
       Unfortunately, your post: <%= @post.ad_title %>, has been rejected by Admin
    </p>
    <p>Your post will not be publicly available for now</p>
    <p>If approved by Admin later, it will be publicly visible</p>

    <p>Hope you are enjoying our service</p>

    <br><br><p>Thanks and Regards,</p>
    <p>Sayan Sinha,</p>
    <p>Sayan Online Marketplace</p>
  </body>
</html>