<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Congratulations <%= @user.name %></h3>
    <p>
      You have successfully logged in to myonlinemarketplace03@gmail.com,
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>