<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to our online marketplace, <%= @user.name %></h3>
    <p>
      You have successfully signed up to myonlinemarketplace03@gmail.com,
    </p>
    <p>
      You can both sell and buy products of various categories here.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>