<ul class="notificator">
  <div id="open_notification">
    <%= render 'notifications/counter', counter: notifications.count %>
  </div>
  
  <div id="notificationContainer" class="notification-div">
    <div id="notificationTitle">Notifications</div>
        <div id="notificationsBody" class="notifications">
            <ul id="notificationList">
                <%= render notifications %>
            </ul>
        </div>
    <div id="notificationFooter"></div>
  </div>
</ul>