<% if admin_user? %>
  <% provide(:title, "Admin") %>
<% else %>
  <% if current_user.present? %>
    <% provide(:title, current_user.name) %>
  <% end %>
<% end %>

<div class="jumbotron jumbotron-fluid bg-light text-dark">
  <div class="container text-center">
    <div class="row">
      <div class="col-9 text-center user-homepage-heading">
        <% if admin_user? %>
          <h1 class="display-4">Welcome Admin</h1> 
        <% else %>
          <% if current_user.present? %>
            <h1 class="display-4">Welcome <%= current_user.name %></h1>
          <% end %>
        <% end %>
      </div>
      <div class="col-3 text-right">
        <%= link_to "Unread messages", notifications_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
    <% if admin_user? %>
      <h5 class="lead">Check the Unchecked Posts section and approve/reject posts by users</h5>
      <h5 class="lead">Approve reviews on the Approved Posts</h5>
    <% else %>
      <p class="lead user-homepage-text">Enjoy our platform to buy or sell items of various categories</p> 
    <% end %>   
  </div>
</div>
<section class="container ">
  <div class="row">
    <div class="col-12 text-center">
      <% if @posts.present? %> 
        <h1 class="text-center heading">Your Posts</h1>
        <%= render "layouts/form" %>
      <% else %>
        <h2 class="text-center text-muted mt-5"> You have no posts now </h2>
      <% end %>
    </div> 
  </div>
</section>
    
    

