<% provide(:title, "Admin Homepage") %>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p class="lead">Check the pending posts' section for posts by users</p>
  </div>
</div>