<% provide(:title, "Admin Homepage") %>

<div class="jumbotron jumbotron-fluid bg-light text-dark">
  <div class="container text-center">
    <h1 class="display-4">Welcome Admin</h1>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-light text-dark">
  <div class="container text-center">
    <h5 class="lead">Check the Unchecked Posts section and approve/reject posts by users</h5>
    <h5 class="lead">Approve/Reject reviews on the Approved Posts</h5>
  </div>
</div>
