<div class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container text-center">
    <h1 class="display-4">Welcome <%= current_user.name %></h1>
    <p class="lead">Enjoy our platform to buy or sell items of various categories</p>
  </div>
</div>


<% provide(:title, current_user.name) %>

<% if @posts.present? %>  
    <section class="table-header mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12">
          <h1 class="text-center">Your Approved Posts</h1>
        </div>
    </div>
    </section>
    
    <%= render "layouts/form" %>
<% else %>
      <h2 class="text-center text-muted mt-5"> You have no approved posts now </h2>
<% end %>
