<div class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container text-center">
    <h1 class="display-4">Welcome <%= current_user.name %></h1>
    <p class="lead">Enjoy our platform to buy or sell items of various categories</p>
  </div>
</div>


<% provide(:title, current_user.name) %>

<% if @posts.present? %>  
    <section class="table-header mb-3">
      <div class="row">
          <div class="col-10 text-center" style="left :90px">
            <h1 class="text-center">Your Posts</h1>
          </div>
          <div class="col-2 text-right">
            <%= link_to 'Reply to message', new_message_path, class: "btn btn-md btn-primary" %>
          </div> 
      </div>
    </section>
    
    <%= render "layouts/form" %>
<% else %>
      <h2 class="text-center text-muted mt-5"> You have no approved posts now </h2>
<% end %>
