<div class="jumbotron jumbotron-fluid bg-light text-dark">
  <div class="container text-center">
    <div class="row">
      <div class="col-9 text-center user-homepage-heading">
        <h1 class="display-4">Welcome <%= current_user.name %></h1>
      </div>
      <div class="col-3 text-right">
        <%= link_to "Unread messages", notifications_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
    <p class="lead user-homepage-text">Enjoy our platform to buy or sell items of various categories</p>    
  </div>
</div>


<% provide(:title, current_user.name) %>

  <section class="container ">
    <div class="row">
      <div class="col-12 text-center">
        <% if @posts.present? %> 
          <h1 class="text-center heading">Your Posts</h1>
          <%= render "layouts/form" %>
        <% else %>
          <h2 class="text-center text-muted mt-5"> You have no approved posts now </h2>
        <% end %>
      </div> 
    </div>
  </section>
    
    

