<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Welcome <%= current_user.name %></h1>
    <p class="lead">Enjoy our platform to buy or sell item from various categories</p>
  </div>
</div>

<%= render "layouts/form" %>