<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hello <%= @user.name %></h3>
    <p>Your post: <%= @post.ad_title %> has been approved by Admin</p>
    <p>Your post will be now publicly available</p>
    <p>Hope you are enjoying our service</p>
    <br><br>
    <p>Thanks and Regards,</p>
    <p>Sayan Sinha,</p>
    <p>Sayan Online Marketplace</p>
  </body>
</html>