<% provide(:title, "Admin | Approved posts") %>

    <section class="table-header mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <h2 class="text-center">Approved Posts</h2>
        </div>
    </div>
    </section>


    <% if @posts.present? %>
      <%= render "layouts/form" %>
    <% else %>
      <h2> You have no approved posts now </h2>
    <% end %>
    