<% provide(:title, "Admin | Rejected posts") %>

<% if @posts.present? %>
    <section class="table-header mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <h1 class="text-center">Rejected Posts</h1>
        </div>
    </div>
    </section>

    <%= render "layouts/form" %>
<% else %>
    <h2 class="text-center text-muted mt-5"> You have no rejected posts now </h2>
<% end %>
    