<% provide(:title, "Admin | Unchecked posts") %>

    <section class="table-header mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <h2 class="text-center">Unchecked Posts</h2>
        </div>
    </div>
    </section>

<% if @posts.present? %>
    <%= render "layouts/form" %>
<% else %>
    <h2 class="text-center"> You have no unchecked posts now </h2>
<% end %>
    


