<% if params[:category_id] && !params[:category_id][:id].blank? && @category.posts.present? %>  
  <%= render "posts_elastic_search_for_category_id_present" %>  
<% elsif !params[:category_id] %>
  <%= render "posts_elastic_search_for_category_id_absent_or_blank" %>
<% elsif params[:category_id][:id].blank? %>
  <%= render "posts_elastic_search_for_category_id_absent_or_blank" %>
<% else %>
  <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
<% end %>