<% provide(:title, "Edit Post") %>
<% provide(:button_text, "Update") %>

<div class="row justify-content-center">
  <div class="col-sm-12">
    <h3 class="text-center heading">Edit Post</h3>
  </div>
  <%= render "form" %>
</div>