<% provide(:title, "New Post") %>
<% provide(:button_text, "Create") %>

<div class="row justify-content-center">
  <div class="col-sm-12">
    <h3 class="text-center heading">Create Post</h3>
  </div>

  <%= render "form" %>
</div>