// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .ad-heading{
  color: white;
 }

 .post-ad-title-show-page{
  left: 280px;
 }

 .post-ad-title{
  text-align: center;
}

.post-ad-title p{
  margin-bottom: 0;
  color: blue;
}





 