// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rating {
    float: left; 
    }


.rating:not(:checked) > input { 
    display: inline-block;
    position:absolute;
    top:-9999pxpx;
    clip:rect(0,0,0,0);
    }



.rating:not(:checked) > label {
    float:right; width:1em; padding:0 .1em; 
    overflow:hidden; 
    white-space:nowrap; 
    cursor:pointer; 
    font-size:180%; 
    line-height:1.2; 
    color:rgb(235, 208, 208);
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }


.rating:not(:checked) > label:before {
    content: '★ '; 
   }




.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold; 
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }
      
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
     color: #ea0; text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

.rating:not(:checked) > input { 
    display: none; 
    }
