.login-link-in-signup-page{
  float:right;
  color: #FFFFFF;
}

.login-link-in-signup-page-text{
  float:right; 
  padding-right:10px; 
  padding-top:5px;
}

.user-homepage-heading{
  left :140px;
}

.user-homepage-text{
  left :90px;
}