<% provide(:title, "New Review") %>
<% provide(:button_text, "Submit") %>

<div class="row justify-content-center">
  <div class="col-sm-12">
    <h3 class="text-center">Write Review</h3>
  </div>

  <%= render "form" %>
</div>