<% if admin_user? %>
    <% provide(:title, "Admin | Pending posts") %>

    <section class="table-header mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <h3 class="text-center">Pending Posts</h3>
        </div>
    </div>
    </section>

<% else %>

    <% provide(:title, "Unapproved posts") %>

    <section class="table-header mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <h3 class="text-center">Unapproved Posts</h3>
        </div>
    </div>
    </section>

<% end %>


<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-4">
        <div class="card card-header rounded-pill shadow p-3 mb-3 bg-white rounded">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <% if post.post_attachments.present? %>
                  <%= image_tag (post.post_attachments.first.photo_url.to_s), :size => "70x70" %>
                <% end %>
              </div>
              <div class="col-sm-8 align-item-center">
                <span><h4><%= link_to post.ad_title.upcase,  post_path(post) %></h4></span>

                <% if admin_user? %>
                    <div class="row" style="display: inline-block" >
                    <%= link_to 'Approve',  {:controller => "ads",
                                            :action => "approve",
                                            :id => post.id,
                                            :decision => "true"}, method: 'post', class: "btn btn-sm btn-success" %>
                    
                    <%= link_to 'Reject',  {:controller => "ads",
                                            :action => "reject",
                                            :id => post.id,
                                            :decision => "false"}, method: 'post', class: "btn btn-sm btn-success" %>
                    </div>
                <% end %>
              </div>
            </div>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>